<form [formGroup]="formPerfil" class="cadastro" [style.fontSize.px]="17">
    <p>
        <mat-form-field class="name " appearance="outline">
            <mat-label>Nome Completo</mat-label>
            <input matInput placeholder="Nome" formControlName="name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error>{{message.getErrorMessage(formPerfil.get('name'))}}</mat-error>
            <mat-hint>Nome completo</mat-hint>
        </mat-form-field>
        <mat-form-field class="year "appearance="outline">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field class="cep" appearance="outline">
            <mat-label>CEP</mat-label>
            <input matInput type="number" #postalCode maxlength="8" placeholder="Ex: 98700-000" formControlName="cep">
            <mat-icon matSuffix>signpost</mat-icon>
            <mat-error>{{message.getErrorMessage(formPerfil.get('cep'))}}</mat-error>
            <mat-hint>CEP {{postalCode.value.length}} / 8</mat-hint>
        </mat-form-field>

        <mat-form-field class="states" appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput aria-label="State" [matAutocomplete]="auto" formControlName="states">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                    <span class="state-container">
                        <img alt="" class="state-option-img" [src]="state.flag" height="25">
                        <span class="state-description">
                            <span>{{state.name}}</span> |
                            <br />
                            <small>Population: {{state.population}}</small>
                        </span>
                    </span>
                </mat-option>
            </mat-autocomplete>
            <mat-icon matSuffix>outlined_flag</mat-icon>
            <mat-error>{{message.getErrorMessage(formPerfil.get('states'))}}</mat-error>
            <mat-hint>Estado</mat-hint>
        </mat-form-field>

        <mat-form-field class="city" appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Endereço" formControlName="city">
            <mat-icon matSuffix>location_city</mat-icon>
            <mat-error>{{message.getErrorMessage(formPerfil.get('city'))}}</mat-error>
            <mat-hint>Cidade</mat-hint>
        </mat-form-field>

        <mat-form-field class="neighborhood" appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Bairro" formControlName="neighborhood">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-error>{{message.getErrorMessage(formPerfil.get('neighborhood'))}}</mat-error>
            <mat-hint>Bairro</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="address" appearance="outline">
            <mat-label>Rua</mat-label>
            <input matInput placeholder="Rua" formControlName="rua">
            <mat-icon matSuffix>add_road</mat-icon>
            <mat-error>{{message.getErrorMessage(formPerfil.get('rua'))}}</mat-error>
            <mat-hint>Rua</mat-hint>
        </mat-form-field>

        <mat-form-field class="number" appearance="outline">
            <mat-label>Numero</mat-label>
            <input type="number" matInput placeholder="Numero" formControlName="number">
            <mat-icon matSuffix>numbers</mat-icon>
            <mat-error>{{message.getErrorMessage(formPerfil.get('number'))}}</mat-error>
            <mat-hint>Numero</mat-hint>
        </mat-form-field>
    </p>



    <div class="button-container">
        <button mat-flat-button color="green" (click)="update()">
            <mat-icon>check</mat-icon> Salvar
        </button>

    </div>
</form>