<form [formGroup]="formUser" class="cadastro" [style.fontSize.px]="17">

    <p>
        <mat-form-field class="email" appearance="outline">
            <mat-label>{{isEdit ? 'Novo Email' : 'Seu E-mail'}}</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error>{{message.getErrorMessage(formUser.get('email'))}}</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="isEdit" class="email" appearance="outline">
            <mat-label>Repita Seu E-mail</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="newEmail" required>
            <mat-error>{{message.getErrorMessage(formUser.get('newEmail'))}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Perfil de acesso</mat-label>
            <mat-select>
                <mat-option value="primary">Administrador</mat-option>
                <mat-option value="accent">Vendedor</mat-option>
                <mat-option value="warn">Financeiro 1</mat-option>
                <mat-option value="warn">Financeiro 2</mat-option>
                <mat-option value="warn">Financeiro 3</mat-option>
            </mat-select>
        </mat-form-field>

    </p>

    <p [hidden]="!isEdit">
        <mat-form-field class="senha" appearance="outline">
            <mat-label>Entre com sua senha nova</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="senha" appearance="outline">
            <mat-label>Repita sua nova senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="repeatNewPassword">
            <mat-error>{{message.getErrorMessage(formUser.controls['repeatNewPassword'])}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </p>


    <div class="button-container">
        <button mat-flat-button color="green" *ngIf="isEdit" (click)="passwordConfirm()">
            <mat-icon>check</mat-icon> Salvar
        </button>
        <button mat-flat-button color="cancel" *ngIf="isEdit" (click)="isEdit = !isEdit; this.formUser.disable()">
            <mat-icon>cancel</mat-icon> Cancelar
        </button>
        <button mat-flat-button color="primary" *ngIf="!isEdit" (click)="isEdit = !isEdit; this.formUser.enable()">
            <mat-icon>edit</mat-icon> Editar
        </button>
    </div>
</form>