.cadastro {
    max-width: 80%;
    min-width: 900px;
    width: 100%;
}
mat-form-field {
    margin: 5px 15px;
}

.email { width: 30%;}
.password { width: 45%;}


.button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    width: 260px;
}