<mat-drawer-container [hasBackdrop]="false" class="container-menu" autosize>
  <mat-toolbar class="bar" color="primary">
    <span>
      <button class="menu" mat-icon-button (click)="drawer.toggle()">
        <mat-icon color="white">menu</mat-icon>
      </button>
      <h1 class="titulo">Geia</h1>

    </span>
    <h1 class="titulo"></h1>
    <button mat-icon-button (click)="logout()" class="logout">
      <mat-icon color="white">logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer color="primary" #drawer class="sidenav" opened mode="side">

    <img src="https://picsum.photos/200/55">
    <ul class="list">
      <li class="list-item"><a [routerLink]="['/']" routerLinkActive="router-link-active">
          <mat-icon color="primary">dashboard_customize</mat-icon> Inicio
        </a></li>
      <li class="list-item"><a [routerLink]="['client/emit']" routerLinkActive="router-link-active"> Item 1</a></li>
    </ul>
    <p class="menu-itens">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>

            Item 3
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">post_add</mat-icon>
            Cadastros
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="list">
          <li class="list-item">
            <mat-icon color="primary">arrow_right</mat-icon>Usuários do Sistema
          </li>
          <li class="list-item">
            <mat-icon color="primary">arrow_right</mat-icon>Clientes
          </li>
        </ul>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">settings</mat-icon>
            Configurações
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ul class="list">
          <li class="list-item">
            <mat-icon color="primary">arrow_right</mat-icon>
            <a [routerLink]="['config/perfil']" routerLinkActive="active"> Meu Perfil </a>
          </li>
          <li class="list-item">
            <mat-icon color="primary">arrow_right</mat-icon>Sistema
          </li>
        </ul>
      </mat-expansion-panel>

    </p>

  </mat-drawer>
  <ng-content></ng-content>
</mat-drawer-container>